footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.font-weight-bold{
    font-weight: bold !important;
}

.input-nota{
    border: solid 1px !important; 
    width: 35px !important; 
    height: 24px !important; 
    padding: 0px 5px !important;
    margin-top: 5px !important;
    margin-bottom: 0px;
}

.py-0{
    padding-top:0px !important;
    padding-bottom: 0px !important;
}
.mx-1{
    margin-left: .25rem !important;
    margin-right: .25rem !important;
}

.mx-2{
    margin-left: .50rem !important;
    margin-right: .50rem !important;
}
.ml-1 {
    margin-left: .25rem !important
}

.ml-2 {
    margin-left: .5rem !important
}

.ml-3 {
    margin-left: .75rem !important
}

.ml-4 {
    margin-left: 1rem !important
}


.mr-1 {
    margin-right: .25rem !important
}

.mr-2 {
    margin-right: .5rem !important;
}

.mr-3 {
    margin-right: .75rem !important
}

.mr-4 {
    margin-right: 1rem !important
}
.tab a.active {
    color:rgb(252, 234, 37)!important;
    background-color:#448AFF!important;
  }
  .tabs .tab a:hover {
    background-color: #bcaaa4!important;
    color:#FFFFFF!important;
  }
  .tabs .tab a {
    color: #efebe9!important;
  }
  .tabs .indicator{
    background-color:#FFFFFF!important;
  }
